body
	margin: 0
	font-family: sans-serif
	font-size: 16px

button, select
	font: inherit
	color: inherit

button
	padding: .5rem 1rem
	cursor: pointer
	background-color: #EEE
	border: none
	border-radius: .3rem

	&:hover
		background-color: #DDD

	&:active
		background-color: #CCC
		color: #333

	&[disabled]
		opacity: .3
		cursor: not-allowed

	&.active
		background-color: #06C
		color: white

.controls
	padding: 6px
	text-align: center
	max-width: 90vw
	margin: 0 auto

	> *
		margin: .5rem

	&.bottom
		display: flex
		justify-content: space-between
		align-items: center

.canvas-container
	margin: 1rem auto
	border-radius: 1rem
	box-shadow: 6px 6px 36px #0003
	overflow: hidden
	border: 1px solid #DDD
